.base-line{
    align-items: baseline;
}
 .w-100{
     width: 100%;
 }

 .h-100{
     height: 100%;
 }

 .margin{
    margin:calculate-rem(0px) calculate-rem(80px) !important;
 }
 .page-link{
     color:$green-color !important;
 }
 .page-item.active .page-link{
     background-color: $green-color !important;
     border-color:$green-color !important;
     color:$white-color !important;
 }

 button[disabled]{
    cursor:not-allowed !important;
 }