<section class="related-topic">
    <div class="w-100">
        <div class="card bg-dark card-related">
            <img class="card-img" [src]="imgUrl" />
            <div class="card-img-overlay">
                <div class="text-wrapper">
                    <p class="card-subtitle">{{subTitle}}</p>
                    <h2 class="card-title m-0">{{title}}</h2>
                    <button ngbDropdownItem class="notification__menu__item all-notification">
                        <div class="all-notification__text">View Details</div>
                        <span class="all-notification__wrap">
                            <span class="all-notification__stick"></span>
                            <span class="all-notification__triangle"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>