
@import '../../../assets/styles/abstract/index';
.all-notification{
    width: calculate-rem(235px) !important;
    padding: 0 !important;
    margin-top: calculate-rem(30px) !important;
    background: transparent !important;
    margin-left: calculate-rem(-24px) !important;
}