<div class="w-100 home">
  <app-carousel></app-carousel>
</div>
<div class="container-xl my-3 latest-news">
  <div class="container-fluid latest-news__title clearfix">
    <div class="col-md-12">
      <div class="row ">
        <div class="col col-md-6">
          <h2 class="latest-news__title__header">Latest News</h2>
        </div>
        <div class="col col-md-6  text-right mt-2">
          <a routerLink="/news-listing" class="latest-news__title__link">Veiw All <span class="latest-news__title__link__icon">
              <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
            </span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 p-2 test-card" *ngFor="let item of getLatestNewsData">
        <app-card [data]="item"></app-card>
      </div>
    </div>
  </div>
</div>
<section id="our-programs" style="background-image: url('../../../assets/images/Layer\ -10.png')">
  <div class="container-xl">
    <div class="section-header text-center text-light">
      <h2 class="title">
        How we have helped
      </h2>
      <h5 class="subtitle">
        See how Al Foundation have promoted change locally and to the world
      </h5>
    </div>
    <div class="programs d-flex flex-column">
      <div class="row even justify-content-center">
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/noun_services_2097593.png" alt="">
            <h5 class="program-name">Find place</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/Show-Hide password.png" alt="">
            <h5 class="program-name">A’awen</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="w-100 d-sm-none"></div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/info.png" alt="">
            <h5 class="program-name">Omniyat</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/timer.png" alt="">
            <h5 class="program-name">Give Time</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
      </div>
      <div class="row odd justify-content-center">
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/arrow (2).png" alt="">
            <h5 class="program-name">Tofoula</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/Component 99 – 7.png" alt="">
            <h5 class="program-name">Fundraising</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="w-100 d-sm-none"></div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../assets/images/noun_services_2097593.png" alt="">
            <h5 class="program-name">Zakat</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>