<section class="footer">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <div class="footer__row m-2"><a routerLink="">News</a></div>
                    <div class="footer__row m-2"><a routerLink="">Events</a></div>
                    <div class="footer__row m-2"><a routerLink="">About</a></div>
                    <div class="footer__row m-2"><a routerLink="">FAQs</a></div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="footer__row m-2"><a routerLink="">Privacy Policy</a></div>
                    <div class="footer__row m-2"><a routerLink="">Contact Us</a></div>
                    <div class="footer__row m-2"><a routerLink="">Complains</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label class="m-2 footer__label">Subscibe to news letter</label>
                    <div class="m-2 footer__input-section" fxLayout="row nowrap">
                        <input class="form-control footer__input-section__input" type="text"
                            placeholder="Email Address" />
                        <button class="but footer__input-section__but">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p class="footer__label">Follow us on</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-md-2">
                            <div class="m-1 text-center">
                                <a routerLink="">
                                    <img src="../../../../assets/images/surface1.png" class="" />
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 text-center">
                            <div class="m-1 text-center">
                                <a routerLink="">
                                    <img src="../../../../assets/images/Path 48455.png" class="" />
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="m-1 text-center">
                                <a routerLink="">
                                    <img src="../../../../assets/images/Path 48454.png" class="" />
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="m-1 text-center">
                                <a routerLink="">
                                    <img src="../../../../assets/images/Facebook_dark.png" class="" />
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 ">
                            <div class="m-1 text-center">
                                <a routerLink="">
                                    <img src="../../../../assets/images/twitter_dark.png" class="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="copyright text-center">
    <p class="margin p-3">All rights reserved - Link Development Company © 2020</p>
</footer>