<section class="container-xl news-listing" style="min-height: 326px;">
    <app-bread-crump [data]="[{name:'Home',route:''},{name:'News'}]"></app-bread-crump>
    <p><ngb-progressbar type="success" class="m-0" [value]="percentage" *ngIf="percentage"></ngb-progressbar></p>
    <div class="my-4">
        <h4 class="news-listing__header">News</h4>
    </div>
    <form novalidate #f="ngForm" (ngSubmit)="filterData(f.form);" (keydown)="enterClicked($event,f.form)">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mx-md-1 my-3">
                        <div class="form-group">
                            <label class="d-inline-block">From</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="from" ngbDatepicker
                                    #d="ngbDatepicker" name="category" #from="ngModel" [(ngModel)]="selectedFromDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"><img src="../../../assets/images/calender.png" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2 mx-md-1 mb-sm-3 my-md-3">
                        <label class="d-inline-block">to</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="to" ngbDatepicker
                                #d="ngbDatepicker" name="category" #to="ngModel" [(ngModel)]="selectedToDate">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                    type="button"><img src="../../../assets/images/calender.png" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2 mx-md-1 my-3">
                        <label class="d-inline-block">Category</label>
                        <select class="form-control" name="category" #getcategory="ngModel"
                            [(ngModel)]="selectedCategory" (select)="clickedToSearch = false">
                            <option value="">-- please select --</option>
                            <option value="{{item['id']}}" *ngFor="let item of categoryList">{{item['name']}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-4 my-3 ml-md-2 ml-lg-2 ">
                        <label>Search</label>
                        <div class="search">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="search__group">
                                        <input class="" type="text" name="search" #to="ngModel" [(ngModel)]="searchText"
                                            class="search__input form-control" (ngModelChange)="clickedToSearch = false"/>
                                        <div class="search__but">
                                            <button class="" type="submit"><img
                                                    src="../../../assets/images/search.png" /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-xl-block col-md-1 mb-sm-3 my-3 ml-md-3 text-right">
                        <div class="marginTop">
                            <img src="../../../assets/images/sort by.png" style="width:55px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-md-12">
                <button (click)="loadMore()" class="load-more" *ngIf="!clickedToSearch">Loade more</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 p-2" *ngFor="let item of firstItemsDisplay | searchFilter: searchText : selectedCategory : clickedToSearch">
            <app-card [data]="item"></app-card>
        </div>
    </div>
</section>


