$primary-color: #038896;
$white-color: #ffffff;
$green-color: #8dc043;
$darkgray-color: #707070;
$lightgray-color: #afafaf;
$light-color: #efefef;
$dark-color: #181c25;
$sky-color: #00b9ff;
$input-color: #2d717b;
$placeholder-color: #83abb1;
$footer-color: #d9d9d9;
$footer-text: #565960;
$facebook-color:#3B5998;
$twitter-color:#00B9FF;
$gmail-color:#FF6666;
$gray-color:#747474;
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1400px
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1360px,
);


$diameter: 269px;
$side-length: 190px;
$gutter: 21px;
$rows-gutter: -55.86px;
$image-margin-top: 25px;
$name-margin-top: 24px;
$name-font-size: 22px;
$action-font-size: 48px;
