$primary-color:#038896;
$white-color:#FFFFFF;
$green-color:#8DC043;
$darkgray-color:#707070;
$lightgray-color:#AFAFAF;
$light-color:#EFEFEF;
$dark-color:#181C25;
$sky-color:#00B9FF;
$input-color:#2D717B;
$placeholder-color:#83ABB1;
$footer-color:#D9D9D9;
$footer-text:#565960;
