<div class="parent  d-none d-md-block">
    <button class="holder-1" *ngIf="!clicked" (click)="clicked = !clicked"
        placement="bottom" ngbTooltip="Search" tooltipClass="custom">
        <div class="special-img">
            <img src="../../../../assets/images/search.png"
                class="special-img__img" />
        </div>
    </button>
    <button class="parent__input__holder" (click)="clicked = !clicked">
        <div class="special-img">
            <img src="../../../../assets/images/search.png"
                class="special-img__img" />
        </div>
    </button>
    <div class="parent__input__parent">
        <input type="text" class="form-control parent__input" *ngIf="clicked"
        placeholder="Search" />
    </div>
</div>